.form-control{
    display: inline-block;
}
.bv-form .help-block{
    font-size: 60%;
}
.el-date-editor .el-input__inner{
    height:32px;
    line-height: 32px;
}
.el-date-editor .el-input__icon{
    line-height: 32px;
}
/* 地图模块搜索框 */
#maps .el-input--suffix .el-input__inner{
    background-image: url(/img/components/el-search-citybg.png);

    background-size:100% 100%;
    -ms-background-size:100% 100%;
    -moz-background-size:100% 100%;
    --background-size:100% 100%;
    /* outline: none; */
    border: none;
 
}
#maps .el-input__inner::-webkit-input-placeholder{
    color:#63BEBF;
}
#maps .el-input__inner::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color:#63BEBF;
}
#maps .el-input__inner:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
    color:#63BEBF;
}
/* 顶部语言选择 */
.el-dropdown{
    font-size: 16px;
    color:#fff;
    margin: 0 5px 0 8px;
    outline: none;
}
/* 底部搜索框宽度 */
.cover .el-input__inner{
    width: 70%;
}
/* element组件  底部新闻页面分页组件*/
.el-carousel__container{
    height:500px;
}
.el-carousel__button{
    height:15px;
    width:15px;
    border-radius: 50%;
}
.el-carousel__indicators--outside button{
    background-color: #42CCCC;
}
/* element组件  新闻页面分页组件*/
.el-pager li {
    font-size: 20px;
}
@media (min-width:1200px){
    /* element组件  底部新闻页面分页组件*/
    .el-carousel__container{
        height:600px;
    }
}
@media (max-width:768px) {
    /* 顶部语言选择 */
    .el-dropdown{
        font-size: 14px;
    }
    /* element组件  底部新闻页面分页组件*/
    .el-carousel__container{
        height:350px;
    }
   /* element组件  预约页面的日期组件*/
    .el-date-editor .el-input__inner{
        height:25px;
        line-height: 25px;
        font-size: 11px;
    }
    .el-date-editor .el-input__icon{
        line-height: 25px;
        
    }
}
@media(max-width:767px){
    /* element组件  底部新闻页面分页组件*/
    .el-carousel__container{
        height:450px;
    }
    .el-carousel__button{
        height:10px;
        width:10px;
    }

    /* 弹出框 */
    .el-message-box{
        width: 300px;
    }
    /* 底部搜索框宽度 */
    .cover .el-input__inner{
        width: 100%;
    }



}