/* bootstrap Validator插件 */
#JoinForm .form-control-feedback{
    top:50px;
}
.form-control{
    display: inline-block;
}

.bv-form .help-block{
    font-size: 60%;
}
/* 预约页面 */
#IntroForm .form-control-feedback{
    right:5%;
}

.el-date-editor .el-input__inner{
    height:32px;
    line-height: 32px;
}
.el-date-editor .el-input__icon{
    line-height: 32px;
}


/* element组件  新闻页面分页组件*/
/* .el-pagination{
    white-space: normal;
} */
.el-pager li {
    font-size: 20px;
}
@media (min-width:1200px){
    /* 预约页面 */
    #IntroForm .form-control-feedback{
        right:10%;
    }
}
@media (max-width:768px) {
    /* bootstrap Validator插件 */
    #JoinForm .form-control-feedback{
        top:30px;
    }
   /* element组件  预约页面的日期组件*/
    .el-date-editor .el-input__inner{
        height:25px;
        line-height: 25px;
        font-size: 11px;
    }
    .el-date-editor .el-input__icon{
        line-height: 25px;
        
    }
}
@media(max-width:767px){
    /* bootstrap Validator插件 */
    #JoinForm .form-control-feedback{
        top:14px;
    }
     /* 预约页面 */
     #IntroForm .form-control-feedback{
        right:0;
    }
    /* 弹出框 */
    .el-message-box{
        width: 300px;
    }
}